/* codigo del footer*/

footer {
  background-image: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
  width: 100vw;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-footer {
  margin: 0 auto 20px;
}

ul {
  display: flex;
  justify-content: center;
  margin: 10px auto;

}

li {
  list-style: none;
  margin: 0 10px;
}

section {
  h3 {
    text-align: center;
    font-weight: 400;
    font-size: 14;
    margin: 20px auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    list-style: none;
    margin: 5px auto;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direccion .derechos {
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin: 10px 50px;
  text-align: center;
}

span {
  font-size: 18px;
  color: red;
}