.form {
  padding: 10px;
  background-size: cover;
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%), url('../assets/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-family: $tipografia-abril-titulos;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin: 20px auto;
  }

  p {
    font-family: $tipografia-textos;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
  }

  label {
    font-family: $tipografia-textos;
    font-weight: 700;
    font-size: 16px;
  }

  input {
    background: $color-primary-black-700;
    width: 100%;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
  }

  .cuentanos {
    height: 150px;
  }

  .boton {
    background: black;
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-family: $tipografia-textos;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
  }
}

@media screen and (min-width:1024px) {
  .form {
    h2 {
      font-size: 32px;
    }

    p {
      margin: 20px 33%;
    }

    .nombre {
      display: block;
      width: 40%;
    }

    div {
      display: flex;
      margin-left: 30%;
      margin-right: 30%;
      justify-content: space-between;
    }

    .tel {
      width: 100%;
    }

    .cuentanos {
      width: 40%;
      display: block;
    }

    .boton {
      width: 40%;
      display: block;
    }

    label {
      margin-left: 30%;
      display: block;
    }
  }
}