.header {
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a.logo img {
            margin-top: 5px;
            margin-left: 15px;
            width: 88px;
            height: 44px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            margin-right: 25px;
            li {
                list-style-type: none;
                text-decoration: none;
                a {
                display: none
                }
                a.car {
                    display: block;
                }
                a.car img {
                    margin-top: 15px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin-top: 40px;
            margin-bottom: 10px;
            font-family: $tipografia-textos;
            color: rgba(133, 133, 133, 1);
        }
        h1 {
            margin-top: 10px;
            margin-bottom: 20px;
            font-family: $tipografia-abril-titulos;
            color: $color-primary-black-900;
        }
        
        }
    .boxing {
        display: flex;
        justify-content: space-around;
        .buttom-black {
            border: 1px solid black;
            border-radius: 9px;
            background-color: $color-primary-black-900;
            color: $color-primary-brown-800;
            font-family: $tipografia-textos;
            width: 130px;
            height: 35px;
            margin: 10px 0 10px 12px;
            text-align: center;
            padding: 7px;
            text-decoration: none;
        }
        .buttom-white {
            border: 1px solid black;
            border-radius: 9px;
            background-color: $color-primary-brown-800;
            color: $color-primary-black-900;
            font-family: $tipografia-textos;
            width: 130px;
            height: 35px;
            margin: 10px 12px 10px 0;
            text-align: center;
            padding: 7px;
            text-decoration: none;
        }
    }
    .pianoHeader{

        margin-top: 40px;
        width: 341.69px;
        height: 244px;
    }
}