.main {
    display: flex;
    flex-direction: column;
    
    .section-center {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background: linear-gradient($color-primary-brown-800 -1%, $color-primary-black-900 35%, $color-primary-brown-800 101.2%), no-repeat;
        h2 {
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
            text-align: center;
            padding-top: 5px;
            font-family: $tipografia-abril-titulos;
            color: $color-primary-black-900;
        }

        .piano {
            position: relative;
            top: 0;
            left: 0;
            z-index: 3;
            width: 310px;
            height: 245px;
        }

        .article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $color-primary-brown-800;
            h3 {
                text-align: center;
                margin: 10px 0;
                font-family: $tipografia-abril-titulos;
                font-size: 24px;
                color: $color-primary-brown-800;
                
            }
            .valoration {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                p {
                    font-family: $tipografia-textos;
                    color: $color-primary-brown-800;
                }
                .stars {
                    padding-left: 10px;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .text {
                margin: 10px 25px;
                text-align: center;
                font-family: $tipografia-textos;
                font-style: normal;
                color: $color-primary-brown-800;
            }
            ul {
                display: flex;
                flex-direction:initial;
                margin: 20px 0px;
                li{
                    margin: 10px;
                    font-family: $tipografia-textos;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    color: $color-primary-brown-800;
                    list-style-type: square;
                }
                li:nth-of-type(1){
                    list-style-type: none;
                }
            }
            .buttom-black {
                border: 1px solid black;
                border-radius: 9px;
                background-color: $color-primary-black-900;
                width: 230px;
                height: 35px;
                text-align: center;
                padding: 7px;
                margin-bottom: 30px;
                text-decoration: none;
                font-family: $tipografia-textos;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: $color-primary-brown-800;
            }
        }

        video {
            position: absolute;
            top: 120px;
            z-index: 2;
            width: 100vw;
            height: 25vh;
            opacity: 15%;
        }
    }

    
    .section-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
            text-align: center;
            margin: 40px 20px;
            font-family: $tipografia-abril-titulos;
            font-size: 24px;
            color: $color-primary-black-900;
            letter-spacing: 0.05em;
        }
        .boxing-article {
            display: flex;
            flex-direction: column;
            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                margin: 20px 0;
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                h3 {
                    border-top: 1px dashed gray;
                    margin: 15px 7px; 
                    padding-top: 20px;
                    font-family: $tipografia-abril-titulos;
                    font-size: 16px;
                    color: $color-primary-black-900;
                    letter-spacing: 0.05em;
                    text-align: left;
                }
                ul {
                    display: flex;
                    flex-direction:initial;
                    margin: 20px 0px;
                    li{
                        margin: 10px;
                        font-family: $tipografia-textos;
                        font-size: 12px;
                        color: $color-primary-black-900;
                        list-style-type: square;
                    }
                    li:nth-of-type(1){
                        list-style-type: none;
                    }
                }
                .foot {
                    display: flex;
                    justify-content: space-around;
                    .buttom-white {
                        border: 1px solid black;
                        border-radius: 9px;
                        background-color: $color-primary-brown-800;
                        color: black;
                        width: 150px;
                        height: 35px;
                        text-align: center;
                        padding: 7px;
                        text-decoration: none;
                        font-family: $tipografia-textos;
                        font-size: 16px;
                        font-weight: bold;
                        color: $color-primary-black-900;
                    }
                    img {
                        border: 1px solid black;
                        border-radius: 9px;
                        color: white;
                        background-color: $color-primary-black-900;
                        width: 35px;
                        height: 35px;
                        padding: 7px;
                    }
                }
            }
            
        }
        .buttom-black {
            border: 1px solid black;
            border-radius: 9px;
            background-color: $color-primary-black-900;
            color: white;
            width: 150px;
            height: 35px;
            text-align: center;
            padding: 7px;
            margin: 30px 0 40px 0;
            text-decoration: none;
            font-family: $tipografia-textos;
            font-size: 16px;
            font-weight: bold;
            color: $color-primary-brown-800;
        }
    }
}

@media screen and (min-width: 1024px) {

    .main {
        .section-center {
            
            h2 {
                width: 390px;
                font-size: 32px;
            }

            .box {
                display: flex;
                .piano {
                    position: absolute;
                    top: 800;
                    left: 670px;
                    z-index: 3;
                    width: 310px;
                    height: 265px;
                }
        
                .article {
                    
                    width: 400px;
                    height: 600px;
                    position: relative;
                    top: 0;
                    left: -50;                    
                    h3 {
                        text-align: center;
                        margin: 10px 0;
                        font-family: $tipografia-abril-titulos;
                        font-size: 24px;
                        color: $color-primary-brown-800;
                        
                    }
                    .valoration {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 5px;
                        p {
                            font-family: $tipografia-textos;
                            color: $color-primary-brown-800;
                        }
                        .stars {
                            padding-left: 10px;
                            display: flex;
                            img{
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                    .text {
                        margin: 10px 25px;
                        text-align: center;
                        font-family: $tipografia-textos;
                        font-style: normal;
                        color: $color-primary-brown-800;
                    }
                    ul {
                        display: flex;
                        flex-direction:initial;
                        margin: 20px 0px;
                        li{
                            margin: 10px;
                            font-family: $tipografia-textos;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            color: $color-primary-brown-800;
                            list-style-type: square;
                        }
                        li:nth-of-type(1){
                            list-style-type: none;
                        }
                    }
                    .buttom-black {
                        border: 1px solid black;
                        border-radius: 9px;
                        background-color: $color-primary-black-900;
                        width: 230px;
                        height: 35px;
                        text-align: center;
                        padding: 7px;
                        margin-bottom: 30px;
                        text-decoration: none;
                        font-family: $tipografia-textos;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        color: $color-primary-brown-800;
                    }
                }
            }
    
            video {
                position: absolute;
                top: 120px;
                z-index: 2;
                width: 100%;
                height: 80%;
                opacity: 10%;
            }
        }
    
        
        .section-article {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h2 {
                text-align: center;
                margin: 40px 20px;
                font-family: $tipografia-abril-titulos;
                font-size: 24px;
                color: $color-primary-black-900;
                letter-spacing: 0.05em;
            }
            .boxing-article {
                display: flex;
                flex-direction: column;
                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                    margin: 20px 0;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    h3 {
                        border-top: 1px dashed gray;
                        margin: 15px 7px; 
                        padding-top: 20px;
                        font-family: $tipografia-abril-titulos;
                        font-size: 16px;
                        color: $color-primary-black-900;
                        letter-spacing: 0.05em;
                        text-align: left;
                    }
                    ul {
                        display: flex;
                        flex-direction:initial;
                        margin: 20px 0px;
                        li{
                            margin: 10px;
                            font-family: $tipografia-textos;
                            font-size: 12px;
                            color: $color-primary-black-900;
                            list-style-type: square;
                        }
                        li:nth-of-type(1){
                            list-style-type: none;
                        }
                    }
                    .foot {
                        display: flex;
                        justify-content: space-around;
                        .buttom-white {
                            border: 1px solid black;
                            border-radius: 9px;
                            background-color: $color-primary-brown-800;
                            color: black;
                            width: 150px;
                            height: 35px;
                            text-align: center;
                            padding: 7px;
                            text-decoration: none;
                            font-family: $tipografia-textos;
                            font-size: 16px;
                            font-weight: bold;
                            color: $color-primary-black-900;
                        }
                        img {
                            border: 1px solid black;
                            border-radius: 9px;
                            color: white;
                            background-color: $color-primary-black-900;
                            width: 35px;
                            height: 35px;
                            padding: 7px;
                        }
                    }
                }
                
            }
            .buttom-black {
                border: 1px solid black;
                border-radius: 9px;
                background-color: $color-primary-black-900;
                color: white;
                width: 150px;
                height: 35px;
                text-align: center;
                padding: 7px;
                margin: 30px 0 40px 0;
                text-decoration: none;
                font-family: $tipografia-textos;
                font-size: 16px;
                font-weight: bold;
                color: $color-primary-brown-800;
            }
        }
    }
}


/*

.main {




        .section-article {
            width: 100vw;
            h2 {
                width: 390px;
                font-size: 32px;
            }
            .boxing-article {
                display: flex;        
                article {
                    margin: 80px 0;
                    position: relative;
                    top: 0;
                    padding-top: 80px;
                    .piano-sale{
                        position: absolute;
                        top: -70px;
                        left: 0;
                    }     
                }
            }
        }
    }

    */