* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.header .navigation a.logo img {
  margin-top: 20px;
  margin-left: 20px;
  width: 88px;
  height: 44px;
}
.header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-right: 0;
}
.header .navigation ul li {
  list-style-type: none;
  text-decoration: none;
}
.header .navigation ul li a {
  display: none;
}
.header .navigation ul li a.car {
  display: block;
}
.header .navigation ul li a.car img {
  margin-left: 0px;
  width: 25px;
  height: 25px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container p {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #858585;
}
.header .container h1 {
  margin: 10px 30px 20px 30px;
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  color: #000000;
}
.header .boxing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .boxing .buttom-black {
  display: block;
  border: 1px solid black;
  border-radius: 9px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  width: 130px;
  height: 35px;
  margin: 10px 0 10px 12px;
  text-align: center;
  padding: 7px;
  text-decoration: none;
}
.header .boxing .buttom-white {
  display: block;
  border: 1px solid black;
  border-radius: 9px;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Raleway", sans-serif;
  width: 130px;
  height: 35px;
  margin: 10px 12px 10px 0;
  text-align: center;
  padding: 7px;
  text-decoration: none;
}
.header .pianoHeader {
  margin-top: 40px;
  width: 341.69px;
  height: 244px;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (min-width: 1024px) {
  .header .navigation ul li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navigation ul li a {
    display: inline-block;
    color: #000000;
    font-family: "Raleway", sans-serif;
  }
  .header .navigation ul li a.contact {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    width: 130px;
    height: 35px;
    margin: 0 5px 0px 5px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  .header .container h1 {
    font-size: 54px;
  }
  .header .boxing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 280px;
  }
  .header .pianoHeader {
    margin-top: 40px;
    width: 589px;
    height: 454px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .section-center {
  position: relative;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(14.06%, rgba(255, 255, 255, 0.820101)), color-stop(37.19%, rgba(0, 0, 0, 0.75)), color-stop(55.32%, rgba(0, 0, 0, 0.75)), color-stop(88.52%, rgba(255, 255, 255, 0.6454)), color-stop(97.7%, #FFFFFF));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
}
.main .section-center h2 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: #000000;
}
.main .section-center .box .piano {
  width: 310px;
  height: 245px;
}
.main .section-center .box .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.main .section-center .box .article h3 {
  text-align: center;
  margin: 10px 0;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: #FFFFFF;
}
.main .section-center .box .article .valoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}
.main .section-center .box .article .valoration p {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}
.main .section-center .box .article .valoration .stars {
  padding-left: 10px;
}
.main .section-center .box .article .valoration .stars img {
  width: 15px;
  height: 15px;
}
.main .section-center .box .article .text {
  margin: 10px 25px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #FFFFFF;
}
.main .section-center .box .article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  margin: 20px 0px;
}
.main .section-center .box .article ul li {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  list-style-type: square;
}
.main .section-center .box .article ul li:nth-of-type(1) {
  list-style-type: none;
}
.main .section-center .box .article .buttom-black {
  border: 1px solid black;
  border-radius: 9px;
  background-color: #000000;
  width: 230px;
  height: 35px;
  text-align: center;
  padding: 7px;
  margin-bottom: 30px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}
.main .section-center video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.main .section-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .section-article h2 {
  text-align: center;
  margin: 40px 20px;
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.05em;
}
.main .section-article .boxing-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .section-article .boxing-article .article-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 380px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .section-article .boxing-article .article-sale .piano-sale {
  width: 100%;
  height: 100%;
}
.main .section-article .boxing-article .article-sale .body-article h3 {
  border-top: 1px dashed gray;
  font-family: "Abril Fatface", cursive;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.05em;
  text-align: left;
}
.main .section-article .boxing-article .article-sale .body-article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  margin: 20px 0px;
}
.main .section-article .boxing-article .article-sale .body-article ul li {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #000000;
  list-style-type: square;
}
.main .section-article .boxing-article .article-sale .body-article ul li:nth-of-type(1) {
  list-style-type: none;
}
.main .section-article .boxing-article .article-sale .body-article .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .section-article .boxing-article .article-sale .body-article .foot .buttom-white {
  border: 1px solid black;
  border-radius: 9px;
  background-color: #FFFFFF;
  color: black;
  width: 150px;
  height: 35px;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
.main .section-article .boxing-article .article-sale .body-article .foot img {
  border: 1px solid black;
  border-radius: 9px;
  color: white;
  background-color: #000000;
  width: 35px;
  height: 35px;
  padding: 7px;
}
.main .section-article .buttom-black {
  border: 1px solid black;
  border-radius: 9px;
  background-color: #000000;
  color: white;
  width: 150px;
  height: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
  margin: 30px 0 40px 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .section-center {
    position: relative;
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(14.06%, rgba(255, 255, 255, 0.820101)), color-stop(37.19%, rgba(0, 0, 0, 0.75)), color-stop(55.32%, rgba(0, 0, 0, 0.75)), color-stop(88.52%, rgba(255, 255, 255, 0.6454)), color-stop(97.7%, #FFFFFF));
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
  }
  .main .section-center h2 {
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-size: 36px;
    color: #000000;
  }
  .main .section-center .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main .section-center .box .piano {
    width: 710px;
    height: 425px;
  }
  .main .section-center .box .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
  }
  .main .section-center .box .article h3 {
    text-align: center;
    margin: 10px 0;
    font-family: "Abril Fatface", cursive;
    font-size: 24px;
    color: #FFFFFF;
  }

  .section-article h2 {
    font-size: 36px;
  }
  .section-article .boxing-article {
    margin: 0 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-article .boxing-article .article-sale {
    position: relative;
  }
  .section-article .boxing-article .article-sale .piano-sale {
    position: absolute;
    top: -50px;
    left: 20px;
  }
  .section-article .boxing-article .article-sale .body-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-article .boxing-article .article-sale .body-article h3 {
    border-top: 1px dashed gray;
    font-family: "Abril Fatface", cursive;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .section-article .boxing-article .article-sale .body-article ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    margin: 20px 0px;
  }
  .section-article .boxing-article .article-sale .body-article ul li {
    margin: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: #000000;
    list-style-type: square;
  }
  .section-article .boxing-article .article-sale .body-article ul li:nth-of-type(1) {
    list-style-type: none;
  }
  .section-article .boxing-article .article-sale .body-article .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-article .boxing-article .article-sale .body-article .foot .buttom-white {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #FFFFFF;
    color: black;
    width: 210px;
    height: 35px;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
  .section-article .boxing-article .article-sale .body-article .foot img {
    border: 1px solid black;
    border-radius: 9px;
    color: white;
    background-color: #000000;
    width: 35px;
    height: 35px;
    padding: 7px;
  }
  .section-article .buttom-black {
    border: 1px solid black;
    border-radius: 9px;
    background-color: #000000;
    color: white;
    width: 150px;
    height: 35px;
    text-align: center;
    padding: 7px;
    margin: 30px 0 40px 0;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
  }
}
.form {
  padding: 10px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.35))), url("../assets/banner.png");
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%), url("../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin: 20px auto;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;
}

label {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

input {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

.cuentanos {
  height: 150px;
}

.boton {
  background: black;
  width: 100%;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  p {
    margin: 20px 33%;
  }

  .nombre {
    display: block;
    width: 40%;
  }

  .tel {
    width: 20%;
    margin-left: 30%;
    display: inline;
  }

  .mail {
    width: 20%;
    display: block;
    margin-left: 30%;
  }

  .cuentanos {
    width: 40%;
    display: block;
  }

  .boton {
    width: 40%;
    display: block;
  }

  label {
    margin-left: 30%;
    display: block;
  }
}
/*partners*/
.partners {
  background-image: linear-gradient(177.96deg, #6F6F6F 1.72%, rgba(255, 255, 255, 0.43) 98.63%);
  width: 100vw;
  padding: 10px;
}

h2 {
  font-family: "Abril Fatface", cursive;
  margin: 10px 40px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

.left .rectangulo {
  width: 300px;
  height: 100px;
  background-color: black;
  border-radius: 50px 15px 15px 50px;
  padding: 5px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.left .dot {
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left img {
  width: 60px;
  height: 60px;
}
.left p {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: white;
  margin: auto;
}

.marcas2 {
  display: none;
}

.right .rectangulo {
  width: 300px;
  height: 100px;
  background-color: black;
  border-radius: 15px 50px 50px 15px;
  padding: 5px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.right .dot {
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.right img {
  width: 60px;
  height: 60px;
}
.right p {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: white;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 32px;
  }

  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10%;
  }

  .marcas1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left {
    margin: 20px 30px;
  }

  .marcas2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .right {
    margin: 20px 30px;
  }
}
/* codigo del footer*/
footer {
  background-image: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
  width: 100vw;
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-footer {
  margin: 0 auto 20px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

li {
  list-style: none;
  margin: 0 10px;
}

section h3 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-weight: 400;
  font-size: 14;
  margin: 20px auto;
}
section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section li {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  list-style: none;
  margin: 5px auto;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direccion,
.derechos,
.credito {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin: 10px 50px;
  text-align: center;
}

span {
  font-size: 18px;
  color: red;
}

@media screen and (min-width: 1024px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  section h3 {
    margin: 20px 0;
    text-align: left;
  }
  section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section li {
    margin: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */